#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W      &kp E         &kp R                          &kp T        &none                    &none    &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S      &kp D         &kp F                          &kp G        &none                    &none    &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON
&mt LEFT_SHIFT Z  &kp X      &kp C         &kp V                          &kp B        &none                    &none    &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LG(F22)       &kp LCTRL  &kp LEFT_ALT  &mt LEFT_WIN INTERNATIONAL_5   &lt 1 SPACE  &lt 3 INTERNATIONAL_4    &kp TAB  &lt 2 ENTER  &none  &none      &none    &lt 4 ESCAPE
            >;
        };

        SYMBOL {
            bindings = <
&kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &none     &none   &kp LS(CARET)  &kp LS(AMPS)  &kp LS(LBRC)  &kp LS(RBRC)  &none
&kp GRAVE     &kp TILDE   &kp LS(UNDER)  &kp SQT       &kp LS(DQT)    &none     &none   &kp LS(PLUS)   &kp MINUS     &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(PIPE)
&none         &none       &none          &none         &none          &none     &none   &kp LS(STAR)   &kp EQUAL     &kp LBKT      &kp RBKT      &kp BSLH
&none         &trans      &trans         &trans        &trans         &trans    &trans  &trans         &none         &none         &none         &trans
            >;
        };

        CURSOR {
            bindings = <
&none             &none   &none   &kp LC(LA(LEFT))      &kp LC(LA(RIGHT))      &none     &none   &kp PG_UP  &none     &kp UP    &none      &kp LG(LS(N5))
&kp LG(NUMBER_1)  &none   &none   &kp LC(LA(R))         &kp LC(LA(RET))        &none     &none   &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LG(LEFT)
&none             &none   &none   &kp LC(LA(LG(LEFT)))  &kp LC(LG(LA(RIGHT)))  &none     &none   &none      &none     &kp BSPC  &none      &kp LG(RIGHT)
&trans            &trans  &trans  &trans                &kp LC(SPACE)          &trans    &trans  &trans     &none     &none     &none      &trans
            >;
        };

        NUMBER {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5  &none     &none   &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&kp N1   &kp N2   &kp N3  &kp N4  &kp N5  &none     &none   &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&kp F11  &kp F12  &none   &none   &none   &none     &none   &none   &none   &none   &none   &none
&trans   &trans   &trans  &trans  &trans  &trans    &trans  &trans  &none   &none   &none   &trans
            >;
        };

        BLUETOOTH {
            bindings = <
&none   &none   &none   &none   &none   &none     &none   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4 
&none   &none   &none   &none   &none   &none     &none   &none          &none          &none          &none          &bt BT_CLR
&none   &none   &none   &none   &none   &none     &none   &none          &none          &none          &none          &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans         &none          &none          &none          &trans
            >;
        };
    };
};
